---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

  <div class="post-list-card">
    <div class="row">
    {%- for post in site.posts -%}
    {%- if post.type == site.main_post-%}
      <div class="column">
        <div class="card">
          {%- assign date_format = date_to_string.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <img class="thumbs">
          <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        </div>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>

  <ul class="post-list">
    {%- for post in site.posts -%}

    {%- if post.type != site.main_post-%}
    <li>
      {%- assign date_format = date_to_string.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>


  {%- endif -%}

</div>

<!-- <img src="{{ site.url }}{{ site.baseurl }}/images/posts/Untitled.png" alt="teste"> -->